:root {
  --warm--gray-900: #1c1917;
  --warm--gray-800: #292524;
  --warm--gray-700: #403d3d;
  --warm--gray-400: #a6a6a6;
  --warm--gray-300: #d6d3d1;
  --warm--gray-200: #e7e5e4;
  --blue: #3479ff;
  --blue--dark: #2c5fc4;
}
