:root {
  --background-color: #e7e5e4;
  --primary-color: #b49595;
  --secondary-color: #403d3d;
  --form-color: #a6a6a6;
  --background-input: #ffffff;
  --background-button: #3479ff;
  --header-color: #e7e5e4;
  --footer-color: #e7e5e4;
  --hover-color: #2c5fc4;
}

/* Dark theme */
[theme="dark"] {
  --background-color: #1c1917;
  --primary-color: #a6a6a6;
  --secondary-color: #292524;
  --background-input: #e7e5e4;
  --background-button: #3479ff;
  --header-color:  #292524;
  --footer-color:  #292524;
  --hover-color: #2c5fc4;
  --warm--gray-700: #403d3d;
  --warm--gray-300: #d6d3d1;
}
