:root{
  --warm--gray-900: #1c1917;
  --warm--gray-800: #292524;
  --warm--gray-700: #403d3d;
  --warm--gray-400: #a6a6a6;
  --warm--gray-300: #d6d3d1;
  --warm--gray-200: #e7e5e4;
  --blue: #3479ff;
  --blue--dark: #2c5fc4;
}
[theme="light"] {
  --background-color:var(--warm--gray-200);
  --primary-color: var(--warm--gray-700);
  --secondary-color: var(--warm--gray-200);
  --form-color: var(--warm--gray-300);
  --form-color-text: var(--warm--gray-900);
  --image-color: var(--warm--gray-200);
  --image-text: var(--warm--gray-700);
  --background-input: var(--warm--gray-200);
  --background-button: var(--blue);
  --text-button: var(--warm--gray-200);
  --header-color: var(--warm--gray-200);
  --header-text-color: var(--warm--gray-900);
  --footer-color: var(--warm--gray-200);
  --footer-text-color: var(--warm--gray-900);
  --hover-color: var(--blue--dark);
  --text-input:var(--warm--gray-700);
  --icon-inverter:100%;
}

/* Dark theme */
[theme="dark"] {
  --background-color:var(--warm--gray-900);
  --primary-color: var(--warm--gray-300);
  --secondary-color: var(--warm--gray-700);
  --form-color: var(--warm--gray-800);
  --form-color-text: var(--warm--gray-200);
  --image-color: var(--warm--gray-700);
  --image-text: var(--warm--gray-400);
  --background-input: var(--warm--gray-200);
  --background-button: var(--blue);
  --text-button: var(--warm--gray-200);
  --header-color: var(--warm--gray-900);
  --header-text-color: var(--warm--gray-300);
  --footer-color: var(--warm--gray-900);
  --footer-text-color: var(--warm--gray-300);
  --hover-color: var(--blue--dark);
  --text-input:var(--warm--gray-400);
  --icon-inverter:0%;
 
}
