@import "colors.css";
 .footer{
    width: 100%;
    background: var(--footer-color);
    color: var(--footer-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;

 }

.footer .container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
}
.footer .container h2{
    display: flex;
    justify-content: center;
}
/* .footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
} */

.madeby{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.madeby div{
    display: flex;
    flex-direction: column;
}
