@import "colors.css";
@import "fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  background: var(--warm--gray-900);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  background: var(--warm--gray-200);
  color: var(--warm--gray-800);
  font-size: 1.2rem;
  line-height: 0;
}

input[type="date"] {
  font-size: 1rem;
  line-height: normal;
}

input[type="file"] {
  display: none;
}

img[src=""] {
  visibility: hidden;
}

input::placeholder {
  color: var(--warm--gray-400);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  height: 36px;
  border-radius: 36px;
  font-size: 1.2rem;
  line-height: 0;
  background: var(--blue);
  color: var(--warm--gray-200);
}

button:hover {
  background: var(--blue--dark);
}

/* a {
  text-decoration: none;
  color: inherit;
} */
