.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--form-color-text);
}

.success .green-tick {
  width: 100px;
  height: 100px;
  background: url(../svg/green-tick.svg) no-repeat center center;
}

.success h2 {
    font-size: 1.4em;
    font-weight: 900;
}
