.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    transition: .2s;
    align-items: center;
}

.toggle i {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
}

.toggle .ball {
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 7.5px;
    border-radius: 50%;
    transition: .3s ease-out;
}


input[type="checkbox"] {
    display: none;
}


/*
    -- Light Mode --
*/


.bx-sun{
    background: url(../svg/Sun.svg) no-repeat center center;
    
}

.bx-moon{
    background: url(../svg/Moon.svg) no-repeat center center;
  
}

.toggle {
    background: var(--toggle-background);
}



.toggle .bx-sun {
    color: #fafafa;
    visibility: var(--sun-visible);
}


.toggle .bx-moon {
    color: #151d2a;
    visibility: var(--moon-visible);
}



.toggle .ball {
    background:var(--toggle-ball);
    transform: translateX(var(--ball-translate));
}

