@import "colors.css";
.footer {
  width: 100%;
  background: var(--footer-color);
  color: var(--footer-text-color);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 800;
    font-size: 0.8rem;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  gap: 10px;
}

.footer .container h2 {
  display: flex;
  justify-content: center;
}

.madeby {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.madeby > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
